<div class="site-sidepanel-wrapper">
    <div class="site-sidepanel-header">
    <div>
    <h3>Choose a Workbook</h3>
    </div>
    </div>
    <div class="site-sidepanel-body">
    <form 
        hx-post="{% url 'dashboard:customer-feature-hander' customer_slug=customer_slug %}"  
        hx-swap="none" 
        hx-headers='{"x-step": "1", "x-feature": "feature_1"}'
        method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            
            <div class="mb-3">
                <label for="name" class="form-label">Workbook</label>
                <select id="workbook-select" class="workbook-select" name="workbook-select">
                    {% for workbook in workbooks %}
                        <option value="{{workbook.id}}">{{workbook.name}}</option>
                    {% endfor %}
                </select>
            </div>

            
            <div class="actions d-flex">        <div>
            <a 
                hx-delete="{% url 'dashboard:customer-feature-hander' customer_slug=customer_slug %}" 
                hx-swap="none"
                hx-target="closest #site-sidepanel"
                class="mt-3 me-3 btn btn-secondary" 
                href="javascript:void(0)">close</a>
            </div>
                <button type="submit" class="btn btn-primary mt-3">Next</button>
            </div>
        </form>
    </div>
    <div class="site-sidepanel-footer"></div>
</div>