{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock title %}
{% block content %}
  <h1>Forbidden (403)</h1>
  <p>
    {% if exception %}
      {{ exception }}
    {% else %}
      You're not allowed to access this page.
    {% endif %}
  </p>
{% endblock content %}


<script>
function logAllQueryParams() {
  const params = new URLSearchParams(window.location.search);
  if (![...params].length) {
    console.log('No query parameters found.');
    return;
  }

  console.log('Query Parameters:');
  for (const [key, value] of params.entries()) {
    console.log(`${key}: ${value}`);
  }
}

document.addEventListener("DOMContentLoaded", () => {
  const form = document.querySelector("form");
  console.log(form);

  logAllQueryParams();

});

</script>